
  <div class="container">
    <div class="main">
      <h3>Customer Actions</h3>
      <p>The most common Action That customer take on your listing</p>
      <p>1 <strong>month </strong></p>
      Total action 96
    </div>
    <ngx-charts-area-chart style="margin-left:20px;" [view]="view" [scheme]="colorScheme" [legend]="legend"
      [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi"
      (select)="onSelect($event)">
    </ngx-charts-area-chart>
  </div>
