.main-chart-container {
    background-color: #ffffff;
    width: 60vw;
    height:60vh;
    border: 2px solid blanchedalmond;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 30px;
 
}

