/* You can add global styles to this file, and also import other style files */
/* .area-series {
    stroke: black;
    stroke-width: 2px;
} */

.area-chart-container {
    /* stroke: black; */
    stroke-width: 2px;
}

.area-chart-container [ngx-charts-area-series]:nth-child(1) {
    
}